// // $space-base: 8px;

$space-00: 4px; // #{$space-base * 0.5}

$space-01: 8px; // #{$space-base * 1}

$space-02: 16px; // #{$space-base * 2}

$space-03: 24px; // #{$space-base * 3}

$space-04: 32px; // #{$space-base * 4}

$space-05: 40px; // #{$space-base * 5}

$space-06: 48px; // #{$space-base * 6}

$space-07: 56px; // #{$space-base * 7}

$space-08: 64px; // #{$space-base * 8}

$space-09: 72px; // #{$space-base * 9}

$space-10: 80px; // #{$space-base * 10}

$space-11: 88px; // #{$space-base * 11}

$space-12: 96px; // #{$space-base * 12}

$space-13: 104px; // #{$space-base * 13}

$space-14: 112px; // #{$space-base * 14}

$space-15: 120px; // #{$space-base * 15}

$space-16: 128px; // #{$space-base * 16}