$space-00: 4px;
$space-01: 8px;
$space-02: 16px;
$space-03: 24px;
$space-04: 28px;
$space-05: 30px;
$space-06: 32px;
$space-07: 40px;
$space-08: 48px;
$space-09: 56px;
$space-10: 64px;
$space-11: 72px;
$space-12: 80px;
$space-13: 100px;
$space-14: 12px;
$space-15: 89px;
$space-16: 25px;
$space-17: 20px;
$space-18: 41px;
$space-19: 9px;
$space-20: 38px;  
$space-21: 26px;
$space-22: 416px;
$space-23: 15px;







